.pageSearchResult {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
}

.abstractView {
    display: flex;
    flex-direction: column;
    flex: 1;

    text-align: left;
    font-size: 30px;
    padding: 20px 20px;
}