.resultList {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin-left: 5vh;
    overflow: scroll;
    scrollbar-width: none;     /*remove scrollbar in Firefox*/
}

.resultList::-webkit-scrollbar {
    display: none;
}

.resultList > div {
    margin-bottom: 20px;
}

