.searchResultCard {
    background-color: darkslategrey;
    transition: 0.5s;
    border-radius: 6px;
    padding: 20px;
}

.searchResultCard:hover {
    background-color: #4f6f6f;
}

.content {
    display: flex;
    flex-direction: column;

}

.author {
    margin-bottom: 10px;
}

.title {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: unset;
}