@import '../../Utils/_colors'


.saved-papers-tree
    .rs-tree-drag-node-mover
    .rs-tree 
        max-height: unset // As rsuite somehow sets a maximum height on trees. I don't know why :(
        background-color: unset

        

        .rs-tree-node-dragging
            outline-color: $color-imprint

        .rs-tree-node-drag-over-top.rs-tree-node-label-content
            border-top-color: $color-imprint !important
            &::after
                border-left-color: $color-imprint
        .rs-tree-node-drag-over-bottom.rs-tree-node-label-content
            border-bottom-color: $color-imprint !important
            &::after
                border-left-color: $color-imprint

    .rs-tree-node-active .rs-tree-node-label .rs-tree-node-label-content
        color: $color-imprint
        background-color: $color-background-light !important
        font-weight: 500

    .rs-tree-node-label-content
        border-radius: 10px
        &:focus
            background-color: red !important

    .rs-tree-children 
        margin-left: 20px
        padding-left: 10px
        border-left: 2px solid $color-search-border
        border-bottom-left-radius: 10px
        border-top-left-radius: 3px

        .rs-tree-node 
            padding-left: unset !important

            &:not(.rs-tree-node-disabled) > .rs-tree-node-label:focus > .rs-tree-node-label-content
                background-color: rgba($color-background-light, 0.6)
            .rs-tree-node-label
                padding-left: 16px

.saved-papers-sidebar
    padding-left: 5px
    min-height: 60em
    border-left: 2px solid $color-search-border
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px


.page-saved-papers
    display: grid
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr))
    height: 85vh

    .saved-papers-tree
        display: flex
        flex-direction: column
        height: 85vh
        margin-top: 2em

    .abstract-view
        min-height: 85vh
        //min-width: 25em
        margin-top: 2em

    .tree-node
        display: flex

        .delete-button
            margin-left: 10px
            background: #0000
            &:focus
                border: none
                outline: none
            &:active
                opacity: 0.4

