@import '../../../../node_modules/rsuite/dist/styles/rsuite-dark.css';

.navbar-brand {
       padding: 18px 20px;
       display: inline-block;
       text-align: center;
       vertical-align: middle;
       font-size: 15px;
       font-weight: 900;
}

#navbar {
       background-color: #161C27;
}

.rs-navbar.rs-navbar-subtle .rs-navbar-nav .rs-nav-item-active > .rs-nav-item-content {
       color: #7ac9ab ;
}

.rs-navbar.rs-navbar-subtle .rs-dropdown .rs-dropdown-toggle {
       background-color: #161C27;
}