.pageSearchResult {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    background-color: #0F131A;
}

#queryTitle h2 {
    font-weight: unset;

    margin: 20px 0 40px 20px;
}

.wrapper {
    display: flex;
}


.abstractView {
    display: flex;
    flex-direction: column;
    flex: 1;

    text-align: left;
    font-size: 30px;
    padding: 0 20px;

    background-color: #0F131A;
    height: 78vh;
    margin-left: 28vh;
    overflow-y: scroll;

    border-radius: 20px;
    border-left: 6px outset #61847D;
}

.abstractView h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: lighter;
    color: #96d4bc;
    font-size: 40px;
    line-height: inherit;
}

.abstractView h3 {
    color: darkgray;
}

.abstractView span {
    color: darkgray;
}

.abstractView span:last-of-type {
    margin-bottom: 0.8em;
}

.abstractView > * {
    font-weight: lighter;
}


