@import '../../../../Utils/colors'

.page-search-result 
    display: flex
    flex-direction: row
    width: 100%
    background-color: $color-background


    .spinner 
        margin: auto
        margin-top: 45vh
        width: 0%

        span > span
            background-color: $color-accent

    .no-results
        margin: 1em 2em
        font-size: 2em

    .wrapper 
        display: flex
        flex-direction: column
        width: 50%

    .wrapper-2 
        display: flex
        flex: 1

    #query-title 
        h2 
            font-weight: unset
            font-size: 1.9vw
            line-height: 5.2vh
            color: $color-title-font
            margin: 20px 0 0 20px

        .line 
            border-bottom: 2px $color-search-border solid
            width: 80%
            height: 10px
            margin-left: 20px
            margin-bottom: 2vh

    .abstract-view 
        display: flex
        flex-direction: column
        flex: 1

        text-align: left
        font-size: 1.4vw
        padding: 0 20px

        background-color: $color-background
        margin: 5vh 0 3vh 11vw
        overflow-y: scroll

        border-radius: 20px
        border-left: 0.4vw outset $color-search-border

        h1 
            font-family: "Segoe UI",Arial,sans-serif
            font-weight: lighter
            color: $color-imprint
            
            line-height: inherit

            @media only screen and (max-width: 1200px) 
                font-size: 2.4vw

            @media only screen and (min-width: 1201px) 
                font-size: 1.8vw

        span, .authors 
            color: darkgray
            font-size: 1.2vw
            line-height: inherit


        span:last-of-type 
            margin-bottom: 0.8em

        > * 
            font-weight: lighter
