.search-result-card {
    background-color: #0F131A;
    transition: 0.5s;
    border-radius: 6px;
    padding: 20px;
    width: 100%;

    border-left: 6px outset #0F131A;
}

.search-result-card.card-selected {

    border-left: 6px outset #61847D;
}

.search-result-card .content {
    display: flex;
    flex-direction: column;

}

.search-result-card .title {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: lighter;
}

.search-result-card .date {
    margin-bottom: 10px;
}

.search-result-card .content span {
    color: darkgray;
    font-size: 16px;
}

.search-result-card a {
    color: #96d4bc;
}

.search-result-card a:hover {
    color:#A8DCC8;
}