.searchResultCard {
    background-color: #0F131A;
    transition: 0.5s;
    border-radius: 6px;
    padding: 20px;
    width: 100%;

    border-left: 6px outset #0F131A;
}

.card-selected {

    border-left: 6px outset #61847D;
}

.content {
    display: flex;
    flex-direction: column;

}

.title {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: lighter;
}

.author {
    margin-bottom: 10px;
}

.content span {
    color: darkgray;
    font-size: 16px;
}

a {
    color: #96d4bc;
}

a:hover {
    color:#A8DCC8;
}