@import '../../../../Utils/colors';

.search-result-card {
    background-color: $color-background;
    transition: 0.5s;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
}

.search-result-card.card-selected {
    border-left: 0.4vw outset $color-search-border;
    border-radius: 20px;
}

.search-result-card .content {
    display: flex;
    flex-direction: column;

}

.search-result-card .title {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 1.46vw;
    font-weight: lighter;

    line-height: 2.1vw;
}

.search-result-card .date {
    margin-bottom: 10px;
}

.search-result-card .content span {
    color: darkgray;
    font-size: 0.9vw;
}

.search-result-card a {
    color: $color-imprint;
}

.search-result-card a:hover {
    color:$color-accent-light;
}