*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.FrontPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex:1;
    font-family: Roboto;
}

.Header{
    padding: 20px;
    font-size: 30px;
    order:1;
    min-height: 15vh;
}

.Body {
    order:2;
    width:50%;
    min-height: 65vh;
    background-color: #282c34;
}

.Searching {
    min-width: 350px;
}

.Suggestions{
    padding: 4vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    align-self:center;
}

.Title {
    font-size:20px;
}

.Imprint {
    background-color: #0f131a;
    flex:1;
    order:3;
    height: 10vh;
    min-width: 100%;
    padding:2vh;
}

img {
    height: 6vh;
}