@import '../../Utils/colors'

::-webkit-scrollbar 
    display: none


.frontpage 
    
    padding: auto

    background-color: $color-background

    .rs-divider .rs-divider-horizontal

        color: #fff

    .frontpage-content 

        margin: auto
        padding-bottom: 5vh
        width: 60em
        font-family: "Segoe UI",Arial,sans-serif


        .full-view
            height: 86vh
            text-align: center

            #search-bar-group
                margin: auto

            h1 
                font-weight: lighter
                padding-top: 30vh
                padding-bottom: 2vh

        #recent-papers-superscript
            text-align: center
            color: gray

        .rs-divider-horizontal
            margin-top: 12px

        .spinner 
            margin: auto
            margin-top: 5vh
            width: 0%

            span > span
                background-color: $color-accent

    .recent-papers 
        margin-top: 10vh
        //width: 50vw
        .search-result-card
            border: none

    .recent-papers > h3 
        font-weight: lighter
        margin-bottom: 2vh

    .frontpage-footer 
        background-color: $color-background-light
        height: 10vh
        min-width: 100%
        padding: 2vh

    .frontpage-footer img 
        height: 6vh

    .sync-loader
        margin: auto
        width: 0%
        margin-top: 10vh

    span > span // Colors the loader without using javascript. Need to be this way as the loaders somehow used obfucated classes
        background-color: $color-accent

