@import '../../../Utils/colors'


#search-bar-group
    margin: 40px auto 0 auto


#author-list-wrapper

    #author-search-result
        display: block


    #author-list-wrapper 
        width: 100%
        margin-left: 5vh


    #author-result-list 
        font-family: "Segoe UI",Arial,sans-serif
        font-size: 1.46vw
        font-weight: lighter

        overflow : scroll
        height: 75vh

    //a:not(.rs-pagination)
    //   color: $color-imprint
    //#test > li > a
    //     color: #ff0

    //a:hover:not(.rs-pagination)
    //    color: $color-accent-light

