@import '../../../Utils/colors';

.rs-input-group {
    margin: 40px auto 0 auto;
}
#author-search-result{
    display: block;
}

#author-list-wrapper {
    width: 100%;
}

#author-result-list {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 1.46vw;
    font-weight: lighter;
}
a {
  color: $color-imprint;
}

a:hover {
    color: $color-accent-light;
}
