@import '../../../Utils/colors';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
}

.author-search-result {
    display: flex;
}

.author-details {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 35%;

    margin-left: 5vh;
    margin-top: 5vh;

    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 1.46vw;
    font-weight: lighter;

    line-height: 6.7vh;
}

.author-name {
    font-size: 3.5vw;
    line-height: 9vh;
    color: $color-imprint;
}

.paper-list {
    margin-top: 6vh;
    overflow : scroll;
    height: 75vh;
}

.paper-list .publications {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 1.46vw;
    font-weight: lighter;
    margin-left: 1.46vw;
    line-height: 4.7vh;
}