@import '~rsuite/dist/styles/rsuite-dark.css';

.navbar-brand {
       padding: 18px 20px;
       display: inline-block;
       text-align: center;
       vertical-align: middle;
       font-size: 15px;
       font-weight: 900;
}
