@import '../../../Utils/colors';

input#search-bar {
    background-color: $color-background-light;
}

#search-bar-group {
    min-width: 300px;
    width: 38vw;
}

.rs-input-group:hover {
    border-color: $color-search-border !important;
}
.rs-input-group-focus {
    border-color: $color-search-border !important;
}
