$color-background: #18191E
$color-background-light: #292B32
$color-title-font: #b6b7b9
$color-slider: #ecfaf9

$color-primary-dark: #8f5f28
$color-primary: #e79c45
$color-primary-light: lighten(#e79c45, 10%)
$color-primary-monochrome: #e6caab

$navbar-height: 60px

body
    background-color: $color-background

a 
    color: $color-primary

a:active, a:focus, a:hover 
    color: $color-primary-light

*
    scrollbar-color: gray #0000  !important
    scrollbar-width: thin