$color-background: #0f131a
$color-background-light: #161C27
$color-slider: #c5cad4
$color-title-font: #a4a9b3
$color-accent-monochrome: #a9a9a9

$color-accent-light: #A8DCC8
$color-imprint: #96d4bc
$color-accent: #7ac9ab
$color-search-border: #61847D

// for overriding base values

//$color-background: #131a0f
//$color-background-light: #162721
//$color-slider: #cbd4c5
//$color-title-font: #acb3a4
//$color-accent-monochrome: #a9a9a9

//$color-accent-light: #ff0000
//$color-imprint: #8dda00
//$color-accent: #df972b
//$color-search-border: #ad0c92
