.rs-drawer-content {
    background-color: #161C27;
}

.rs-drawer-right.rs-drawer-sm, .rs-drawer-left.rs-drawer-sm {
    width: 25%;
}

.rs-drawer-left {
    top: auto;
    bottom: 0;
    height: calc(100% - 56px);
}

.rs-drawer-right {
    top: auto;
    bottom: 0;
    right: 0;
    height: calc(100% - 56px);
}

.rs-loader-has-content {
    height: 100%;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 56px);
}

.graph-container {
    overflow: hidden;
    height: calc(90vh - 56px);
    min-width: 100%;
}

.show-slider-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 3vw;
    height: 100%;
    z-index: 2;
}

.show-slider-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    background-color: #212c41;
    padding-top: 3vh;
    padding-bottom: 3vh;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-left: 0.4vw outset #61847D;
    border-radius: 20px;
}

.node-color-legend {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    width: 20vw;
    z-index: 2;
}

.legend-color-bar {
    height: 2vh;
    background: linear-gradient(90deg,#7AC9AB80,#7AC9ABFF);
}

.legend-years {
    display: flex;
    justify-content: space-between;
}

.last-year {
    margin-left: auto;
}

.force-graph-container {
    z-index: 1;
}

.rs-drawer-header .rs-drawer-title {
    color: #a4a9b3;
}

.rs-drawer-body {
    margin: 0px 20px;
    padding: 30px 0px;
}

.slider-popup {
    display: flex;
    flex-direction: column;
}

.slider {
    color: #c5cad4;
}

.slider-with-input-number {
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rs-slider {
    width: calc(100% - 110px);
}

.rs-slider-bar {
    background-color: #a9a9a9 !important;
}

.rs-slider-progress-bar {
    background-color: #7ac9ab !important;
}

.rs-input-number {
    width: 70px;
    border-color: #7ac9ab !important;
}

.rs-slider-handle::before {
    border: 2px solid #7ac9ab;
}