@import '../../Utils/colors';

.rs-drawer-content {
    background-color: $color-background-light;
} 

.rs-drawer-right.rs-drawer-sm, .rs-drawer-left.rs-drawer-sm {
    width: 25%;
}

.rs-drawer-left {
    top: auto;
    bottom: 0;
    height: calc(100% - 56px);
}

.rs-drawer-right {
    top: auto;
    bottom: 0;
    right: 0;
    height: calc(100% - 56px);
}

.rs-loader-has-content {
    height: 100%;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 56px);
}

.graph-container {
    overflow: hidden;
    height: calc(90vh - 56px);
    min-width: 100%;
}

.show-slider-icon {
    position: absolute;
    height: 50%;
    width: 5%;
    top: 50%;
    z-index: 2;
}

.show-slider-text {
    font-size: 20px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.force-graph-container {
    z-index: 1;
}

.rs-drawer-header .rs-drawer-title {
    color: $color-title-font;
}

.rs-drawer-body {
    margin: 0px 20px;
    padding: 30px 0px;
}

.slider-popup {
    display: flex;
    flex-direction: column;
}

.slider {
    color: $color-slider;
}

.slider-with-input-number {
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    padding-bottom: 3px;
}

.rs-slider {
    width: calc(100% - 110px);
}

.rs-slider-bar {
    background-color: $color-accent-monochrome !important;
}

.rs-slider-progress-bar {
    background-color: $color-accent !important;
}

.rs-input-number {
    width: 70px;
    border-color: $color-accent !important;
}

.rs-slider-handle::before {
    border: 2px solid $color-accent;
}